/* *{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
} */

.discount-dropdown{
  border: 3px solid gray;
  position: relative;
  top: 150px;
  width: 300px;
   
}

.couponbtn{
   border: 3px solid;
   background-color: aquamarine; 
}